---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Just as the title reads"
	pubDate={new Date('January 01 2026')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		I, Hmm... A somewhat "abstract" technology enthusiast, a science student through and through.I had 
		always dreamed of having my own cool personal blog site, so I tossed and turned until New Year's Day 
		2026, which is today, ans I did it. Thanks to Astro for providing me with the cool template, and now 
		I'm gradually replacing the template files, which is how this About Me blog you're reading right in 
		front of you came about.
	</p>

	<p>
		It seems like I have to write something more. Although I am still a student, I have been involved
		in programming for almost eight or nine years - but I have achieved nothing, perhaps because of 
		it is the Free Pascal I learned back then, a language used to cultivate the basics of programming (from 
		this point of view, it really helped me a lot!), not a language used for actual development like 
		Java.I realized this problem about 4 years ago, so I started teaching myself Java (I tried to teach 
		myself a lot of programming languages, including Java, Python, PHP, Lua, C, Rust, JS, VBS, C++, 
		really, now I know it's childish, very naïve. So far, Java and Python are the best I have mastered, 
		only a vague impression remains in the other subjects, I still have a lot of interest in Rust 
		and Lua), and now I am trying to develop a Minecraft mod in Java (occasionally developing small 
		projects on a whim). Пожела́й мне уда́чи!
	</p>

	<p>
		As for my usual time, first of all, I will solve problems on Leetcode to improve my coding skills; 
		Also, in addition to being a code enthusiast, I'm a chemistry fan, just doing all sorts of little 
		experiments at home (oh, some crystals are so beautiful!); Moreover, after all, I am a student 
		preparing for the college entrance examination, so how can I have so much spare time!! [cring.gif] 
		If you really want to have any more hobbies, uh... I also love amateur radio and the Wargame sport
		(you see, my hobbies are many, mixed and niche). Oh yes, and I would like to add that I also love 
		the band Кино.
	</p>

	<p>
		This About Me is my first blog, and I really want to write it well, but my English is a mess 
		and I use a translator in many places. Please forgive me if you read strange sentences or 
		expressions that make unclear meaning. And if you think I am a person worthy of your 
		understanding, welcome to communicate, my email is wbinmpcbland@outlook.com, my Github account 
		is MPCBexplorer, but because of my studies, I am very busy and only available on weekends.I 
		don't know what to write in the next paragraph, but I think the Lorem Ipsum in the template is 
		quite interesting, so leave it there.
	</p>

	<p>
		Tempus quam pellentesque nec nam aliquam sem. Risus at ultrices mi tempus imperdiet. Id porta
		nibh venenatis cras sed felis eget velit. Ipsum a arcu cursus vitae. Facilisis magna etiam
		tempor orci eu lobortis elementum. Tincidunt dui ut ornare lectus sit. Quisque non tellus orci
		ac. Blandit libero volutpat sed cras. Nec tincidunt praesent semper feugiat nibh sed pulvinar
		proin gravida. Egestas integer eget aliquet nibh praesent tristique magna.
	</p>
</Layout>
