---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Hello, there!</h1>
			<p>
				Welcome to my personal blog. This
				homepage serves as a lightweight, minimally-styled starting point for anyone looking to find
				some useful but hard-to-find knowledge and skills in math, physics, chemistry, and computer
				science (maybe years later there will be).
			</p>
			<p>
				This website comes with a few blogs and was built on a Cloudflare Pages platform, and
				powered by Astro. You can find the source code on <a href="https://github.com/MPCBexplorer/astro-blog-starter-template">GitHub</a>
				(I'm sorry that I'm too lazy to rename the repo). You can fly your mind in my blog. Of course
				there may be some mistakes or inaccuracies in my blog, though, but it is still fun
				to read.
			</p>
			<p>Here are a few instructions about what you can do with this blog:</p>
			<ul>
				<li>Pull requests are welcome. So do the issues.</li>
				<li>Feel free to copy or download the content. Commercial use is not allowed. Giving me credit is appreciated.</li>
				<li>Do not claim that you found the conclusions.</li>
				<li>If you have content to add, please contact me.</li>
				<li>Do anything else you want. But remember - All rights reserved.</li>
			</ul>
			<p>
				Have fun! If you get stuck, remember to <a href="https://github.com/MPCBexplorer/astro-blog-starter-template/issues"
					>submit an issue
				</a> to ask questions.
			</p>
			<p>
				The website uses the template below:<br>
				Looking for a blog template with a bit more personality? Check out <a
					href="https://github.com/Charca/astro-blog-template"
					>astro-blog-template
				</a> by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
